<% layout('../layout') -%>
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-danger">Test Page</button>
        </div>
    </div>
    </div>